.container-auto {
  text-align: center;
  margin: auto;
  width: 50%;
  box-shadow: 1px 1px 9px 3px #00000026;
  height: auto;
  width: 400px;
  padding: 23px 0px;
  border-radius: 5px;
}

.temp-deg {
  padding-top: 20px;
  color: orange;
}
img.img {
  width: 150px;
  height: 150px;
  object-fit: contain;
}
.kind-weather {
  margin: 5px 0px 29px 0px;
  font-size: 25px;
  font-weight: bold;
  color: orange;
  text-transform: uppercase;
  text-shadow: 3px 2px 5px black;
}
.temp-max {
  margin: 10px 0px;
  color: orange;
}
.temp-min {
  margin: 10px 0px;
  color: #313050;
}
.text-align-center {
  width: 400px;
  padding: 10px 0px;
  box-shadow: 1px 1px 9px 3px #00000026;
  text-align: center;
  margin: 29px auto;
  color: #313050;
  border-radius: 5px;
}
