<h2 class="text-align-center">Dự báo thời tiết hôm nay</h2>



<div *ngIf="myWeather  async" class="container-auto">
  <h1>{{myWeather.cityName}}</h1>
  <h2 class="temp-deg">{{myWeather.temp}} &deg;</h2>
  <img src="http://openweathermap.org/img/wn/{{myWeather.icon}}.png" alt="" class="img">
  <h3 class="kind-weather">{{myWeather.weatherKind}}</h3>
  <h4 class="temp-max">Nhiệt độ cao nhất: {{myWeather.tempMax}}&deg;</h4>
  <h4 class="temp-min">Nhiệt độ thấp nhất: {{myWeather.tempMin}}&deg;</h4>

</div>
<form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
  <div class="search">
    <input placeholder="Tìm kiếm theo địa điểm" name="city" ngModel class="input-search" type="text"> <button><i
        class="fa fa-search"></i></button>
  </div>
</form>
