.container-auto {
  text-align: center;
  margin: auto;
  box-shadow: 1px 1px 9px 3px #00000026;
  height: auto;
  width: 400px;
  padding: 23px 0px;
  border-radius: 5px;
}

.temp-deg {
  padding-top: 20px;
  color: orange;
}
img.img {
  width: 150px;
  height: 150px;
  object-fit: contain;
}
.kind-weather {
  margin: 5px 0px 29px 0px;
  font-size: 25px;
  font-family: sans-serif;
  font-weight: bold;
  color: orange;
  text-transform: uppercase;
  text-shadow: 3px 2px 5px black;
}
.temp-max {
  margin: 10px 0px;
  font-family: sans-serif;
  color: orange;
}
.temp-min {
  margin: 10px 0px;
  font-family: sans-serif;
  color: #313050;
}
.text-align-center {
  width: 400px;
  padding: 10px 0px;
  box-shadow: 1px 1px 9px 3px #00000026;
  text-align: center;
  margin: 29px auto;
  font-family: sans-serif;
  color: #313050;
  border-radius: 5px;
}
.search {
  height: 60px;
  text-align: center;
  margin: auto;
}
.search {
  position: relative;
  width: 400px;
  height: 50px;

  margin-top: 20px;
}
.input-search {
  width: 100%;
  padding: 7px 25px;
  box-sizing: border-box;
  border-radius: 5px;
  outline: none;
  font-size: 25px;
  color: #666;
  height: 100%;
  box-shadow: 1px 1px 9px 3px #00000026;
  border: 1px solid rgba(181, 161, 161, 0.531);
}
button {
  background: none;
  border: none;
  line-height: 50px;
  font-size: 25px;
  position: absolute;
  right: 5px;
  color: #666;
  cursor: pointer;
  top: 0px;
  display: inline;
}
button:hover {
  color: #333;
}
