<h2 class="text-align-center">Dự báo thời tiết cho 5 ngày tới</h2>
<div class="black-bg">
  <div class="container-auto">

    <div class="day-5">
      <h2 class="temp-deg">60 &deg;</h2>
      <img src="https://s1.mzstatic.com/us/r30/Purple/v4/f2/d6/8b/f2d68bd9-1fc9-5fdb-b00b-71ff423d22dc/mzl.ywvjufbd.png"
        alt="" class="img">
      <h3 class="kind-weather">"Nắng"</h3>
      <h4 class="temp-max">Nhiệt độ cao nhất: 30&deg;</h4>
      <h4 class="temp-min">Nhiệt độ thấp nhất: 20&deg;</h4>
    </div>

    <div class="day-5">
      <h2 class="temp-deg">60 &deg;</h2>
      <img src="https://s1.mzstatic.com/us/r30/Purple/v4/f2/d6/8b/f2d68bd9-1fc9-5fdb-b00b-71ff423d22dc/mzl.ywvjufbd.png"
        alt="" class="img">
      <h3 class="kind-weather">"Nắng"</h3>
      <h4 class="temp-max">Nhiệt độ cao nhất: 30&deg;</h4>
      <h4 class="temp-min">Nhiệt độ thấp nhất: 20&deg;</h4>
    </div>
    <div class="day-5">
      <h2 class="temp-deg">60 &deg;</h2>
      <img src="https://s1.mzstatic.com/us/r30/Purple/v4/f2/d6/8b/f2d68bd9-1fc9-5fdb-b00b-71ff423d22dc/mzl.ywvjufbd.png"
        alt="" class="img">
      <h3 class="kind-weather">"Nắng"</h3>
      <h4 class="temp-max">Nhiệt độ cao nhất: 30&deg;</h4>
      <h4 class="temp-min">Nhiệt độ thấp nhất: 20&deg;</h4>
    </div>
    <div class="day-5">
      <h2 class="temp-deg">60 &deg;</h2>
      <img src="https://s1.mzstatic.com/us/r30/Purple/v4/f2/d6/8b/f2d68bd9-1fc9-5fdb-b00b-71ff423d22dc/mzl.ywvjufbd.png"
        alt="" class="img">
      <h3 class="kind-weather">"Nắng"</h3>
      <h4 class="temp-max">Nhiệt độ cao nhất: 30&deg;</h4>
      <h4 class="temp-min">Nhiệt độ thấp nhất: 20&deg;</h4>
    </div>
    <div class="day-5">
      <h2 class="temp-deg">60 &deg;</h2>
      <img src="https://s1.mzstatic.com/us/r30/Purple/v4/f2/d6/8b/f2d68bd9-1fc9-5fdb-b00b-71ff423d22dc/mzl.ywvjufbd.png"
        alt="" class="img">
      <h3 class="kind-weather">"Nắng"</h3>
      <h4 class="temp-max">Nhiệt độ cao nhất: 30&deg;</h4>
      <h4 class="temp-min">Nhiệt độ thấp nhất: 20&deg;</h4>
    </div>

  </div>
</div>
