.text-align-center {
  text-align: center;
  margin: 40px 0px;
  color: rgb(3, 42, 184);
}
.container-auto {
  text-align: center;
  margin: auto;
  width: 80%;
  padding-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.black-bg {
  background-color: #b5bbff47;
  height: 500px;
  margin: 0 50px;
  box-shadow: 2px -2px 8px 3px #d4d0e9;
}
@media (max-width: 1300px) {
  * {
  }
  .container-auto {
    justify-content: space-around;
  }

  .black-bg {
    background-color: #b5bbff47;
    height: auto;
    margin: 0 50px;
    box-shadow: 2px -2px 8px 3px #d4d0e9;
    margin-bottom: 20px;
  }
}
