<h2 class="text-align-center">Dự báo thời tiết cho 5 ngày tới</h2>
<div class="container-auto">
  <!-- <h1>{{myWeather.cityName}}</h1> -->

  <div class="day-5">
    <h2>60 &deg;</h2>
    <img src="" alt="" class="img">
    <h3>"Nắng"</h3>
    <h4>Nhiệt độ cao nhất: 30&deg;</h4>
    <h4>Nhiệt độ thấp nhất: 20&deg;</h4>
  </div>

  <div class="day-5">
    <h2>60 &deg;</h2>
    <img src="" alt="" class="img">
    <h3>"Nắng"</h3>
    <h4>Nhiệt độ cao nhất: 30&deg;</h4>
    <h4>Nhiệt độ thấp nhất: 20&deg;</h4>
  </div>

  <div class="day-5">
    <h2>60 &deg;</h2>
    <img src="" alt="" class="img">
    <h3>"Nắng"</h3>
    <h4>Nhiệt độ cao nhất: 30&deg;</h4>
    <h4>Nhiệt độ thấp nhất: 20&deg;</h4>
  </div>

  <div class="day-5">
    <h2>60 &deg;</h2>
    <img src="" alt="" class="img">
    <h3>"Nắng"</h3>
    <h4>Nhiệt độ cao nhất: 30&deg;</h4>
    <h4>Nhiệt độ thấp nhất: 20&deg;</h4>
  </div>

  <div class="day-5">
    <h2>60 &deg;</h2>
    <img src="" alt="" class="img">
    <h3>"Nắng"</h3>
    <h4>Nhiệt độ cao nhất: 30&deg;</h4>
    <h4>Nhiệt độ thấp nhất: 20&deg;</h4>
  </div>
</div>
